/* Estilos de várias páginas */

body {
  background-color: #ededed;
}

.content {
  margin: 40px 0;
}

/* Título cabeçalho das páginas */
.page-title {
  background-color: #fff;
  margin: 15px 0;
  padding: 15px 0;
  .container {
    position: relative;
  }

  h2 {
    text-align: center;
    color: $general-orange;
    font-size: 20px;
    padding: 0 250px;
  }

  .back-link,
  .recipe-options {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }

  .back-link {
    left: 0;
    a {
      font-size: 18px;
      color: $general-blue;
      font-weight: 700;
    }
  }

  .recipe-options {
    right: 0;
    .option-link {
      font-size: 18px;
      font-weight: 500;
      color: #fff;
      padding: 5px 20px;
      margin: 0 10px;
      border-radius: 10px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      &.edit-option {
        background-color: $general-blue;
        &:hover {
          background-color: $general-blue-hover;
        }
      }
      &.delete-option {
        background-color: $general-red;
        &:hover {
          background-color: $general-red-hover;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h2 {
      padding: 0 100px;
      margin-bottom: 15px;
    }
    .recipe-options {
      position: unset;
    }
  }

  @include media-breakpoint-down(xs) {
    h2 {
      padding: 0 15px;
    }
    .back-link {
      display: none;
    }
  }
}

/* Mensagens de erro */
.message-result-area {
  display: none;
  border-radius: 10px;
  margin-top: 10px;
  background-color: $general-green;
  justify-content: center;
  align-items: center;
  &.error {
    background-color: $general-red;
  }
  &.active {
    display: flex;
  }
  span {
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-weight: 700;
  }
}

.link-result-area {
  display: none;
  justify-content: center;
  align-items: center;
  &.active {
    display: flex;
  }
  .link {
    font-size: 18px;
    background-color: $general-orange;
    color: #fff;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 10px;
  }
}

.loading-area {
  display: none;
  justify-content: center;
  align-items: center;
  &.active {
    display: flex;
  }
  img {
    width: 75px;
  }
  span {
    margin-left: 15px;
    font-size: 22px;
    color: $general-orange;
  }
}

/* Lista das receitas */
.receitas-list {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0 20px 0;
  li {
    flex-basis: 33.33%;
    padding: 0 30px 50px 30px;
    @include media-breakpoint-up(lg) {
      &:nth-child(3n + 1) {
        padding-left: 0;
      }
      &:nth-child(3n + 2) {
        padding: 0 15px 50px 15px;
      }
      &:nth-child(3n + 3) {
        padding-right: 0;
      }
    }
    @include media-breakpoint-only(md) {
      flex-basis: 50%;
      &:nth-child(2n + 1) {
        padding-left: 0;
      }
      &:nth-child(2n + 2) {
        padding-right: 0;
      }
    }
    @include media-breakpoint-down(sm) {
      flex-basis: 100%;
      padding: 0 0 50px 0;
    }
  }
}

/* Cards das Receitas */
.card-receita {
  background-color: #fff;
  border-radius: 15px;
  min-height: 402px;
  position: relative;
  &:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    .link-to-receita {
      span {
        text-decoration: underline;
      }
    }
  }
  &.card-add-receita {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $general-orange;
    .plus {
      font-size: 90px;
      font-weight: 700;
      line-height: 85px;
    }
    .text {
      font-size: 22px;
    }
  }
  .img-area {
    position: relative;
    img {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      height: 215px;
      width: 100%;
    }
    .card-category {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;
      background-image: linear-gradient(to top, black, transparent);
      display: flex;
      align-items: flex-end;
      span {
        color: #fff;
        padding: 10px 25px;
      }
    }
  }
  .text-area {
    padding: 0 25px 15px 25px;
    .card-title {
      color: $general-orange;
      font-size: 20px;
      margin: 10px 0;
    }

    .card-description,
    .link-to-receita span {
      font-size: 16px;
    }

    .card-description {
      color: $general-blue;
      margin-bottom: 50px;
    }
  }
  .card-recipe-footer {
    position: absolute;
    bottom: 15px;
    right: 25px;
    .link-to-receita {
      span {
        color: $general-orange;
      }
    }
  }
  @include media-breakpoint-only(lg) {
    .img-area {
      img {
        height: 160px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .img-area {
      img {
        height: auto;
      }
    }
  }
}

.btn-load-more {
  display: none;
  justify-content: center;
  align-items: center;
  &.active {
    display: flex;
  }
  a {
    cursor: pointer;
    background-color: $general-orange;
    color: #fff;
    font-size: 20px;

    width: 150px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: $general-orange-hover;
      color: #fff;
    }
  }
}

.modal {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;

  &.active {
    display: flex;
  }

  .modal-area {
    background-color: #fefefe;
    margin: auto;
    width: 400px;
    border-radius: 10px;
    .modal-area-content {
      position: relative;
      padding: 20px;
      .close-btn {
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: $general-red;
        color: #fff;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-weight: 700;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
          background-color: $general-red-hover;
        }
      }
      .text-area {
        p {
          text-align: center;
          font-size: 20px;
          padding-bottom: 25px;
          border-bottom: 1px solid;
        }
      }
      .options-area {
        display: flex;
        justify-content: space-between;
        padding: 15px 0 0 0;
        a {
          font-size: 18px;
          cursor: pointer;
          &.cancelar-btn {
            color: $general-orange;
            font-weight: 500;
            margin-left: 50px;
          }
          &.action-btn {
            color: #bfbfbf;
            margin-right: 65px;
            &.action-delete {
              color: $general-red;
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-down(xs) {
    .modal-area {
      width: 300px;
      .modal-area-content {
        .options-area {
          a {
            &.cancelar-btn {
              margin-left: 25px;
            }
            &.action-btn {
              margin-right: 25px;
            }
          }
        }
      }
    }
  }
}
