body {
  background-color: #ededed;
}

.page-title {
  background-color: #fff;
  margin: 15px 0;
  padding: 15px 0;
  h2 {
    text-align: center;
    color: $general-orange;
    font-size: 20px;
  }
}