.header {
  .header-top {
    background-color: $general-orange;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #fff;
      padding: 15px;
      font-weight: 700;
      .logo-area {
        h1 {
          font-size: 30px;
          font-style: italic;
          span {
            font-style: normal;
            color: $header-logo-span;
          }
        }
      }

      .menu-area {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
          margin: 0 15px;
        }
      }

      .user-options {
        display: flex;
        align-items: center;
        justify-content: center;
        .user-img {
          width: 50px;
          margin: 0 5px 0 10px;
          border-radius: 50%;
        }
        .separator {
          width: 1px;
          height: 35px;
          background-color: #657e75;
          margin: 0 10px 0 5px;
        }
        .logout {
          cursor: pointer;
          background-color: transparent;
          border: none;
          color: #fff;
          font-weight: 700;
          outline: none;
        }
      }
    }
    @include media-breakpoint-only(md) {
      .container {
        .menu-area {
          li {
            margin: 0 10px;
          }
        }
      }
    }
    @include media-breakpoint-down(sm) {
      .container {
        flex-direction: column;
        justify-content: center;
        .menu-area {
          margin: 15px 0;
        }
      }
    }
    @include media-breakpoint-down(xs) {
      .container {
        .menu-area {
          flex-direction: column;
          li {
            margin: 10px 0;
          }
        }
      }
    }
  }
  .header-bottom {
    width: 100%;
    min-height: 10px;
    background-color: $general-blue;
  }
  
}