
/* Header */
$header-logo-span: #4f7e82;

/* General Colors */
$general-orange: #f58324;
$general-orange-hover: #c5691b;
$general-blue: #267d9a;
$general-blue-hover: #156580;
$general-red: #ff1010;
$general-red-hover: #c11414;
$general-green: #008000;

/* Adicionar Receita */
$form-input-bg: #d9d9d9;